<div class="py-5 w3l-resume">
    <div class="container py-lg-5 py-3">
        <h5 class="title-small mb-2"> Hello</h5>
        <h3 class="title-big mb-4">I Can give your business a new Creative start right away! </h3>
        <p>
            I am a freelancer based in the United Kingdom and i have been building noteworthy UX/UI designs and websites
            for years, which comply with the latest design trends. I help convert a vision and an idea into meaningful
            and useful products. Having a sharp eye for product evolution helps me prioritize tasks, iterate fast and
            deliver faster
        </p>
        <div class="row features-w3pvt-main mt-5 pt-md-3" id="features">
            <div class="col-lg-4 col-md-6 feature-gird">
                <div class="row features-hny-inner-gd">
                    <div class="col-md-2 col-2 featured_grid_left">
                        <div class="icon_left_grid">
                            <span class="fa fa-laptop" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="col-md-10 col-10 featured_grid_right_info">
                        <h4><a class="link-hny" href="#url">Responsive Design </a></h4>
                        <p>Lorem ipsum dolor sit amet elit consec tetur adipisi elit., rem!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 feature-gird mt-md-0 mt-4">
                <div class="row features-hny-inner-gd">
                    <div class="col-md-2 col-2 featured_grid_left">
                        <div class="icon_left_grid">
                            <span class="fa fa-pencil-square-o" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="col-md-10 col-10 featured_grid_right_info">
                        <h4><a class="link-hny" href="#url">Powerful Editor </a></h4>
                        <p>Lorem ipsum dolor sit amet elit consec tetur adipisi elit., rem!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 feature-gird mt-lg-0 mt-md-5 mt-4">
                <div class="row features-hny-inner-gd">
                    <div class="col-md-2 col-2 featured_grid_left">
                        <div class="icon_left_grid">
                            <span class="fa fa-desktop" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="col-md-10 col-10 featured_grid_right_info">
                        <h4><a class="link-hny" href="#url">Creative Design </a></h4>
                        <p>Lorem ipsum dolor sit amet elit consec tetur adipisi elit., rem!</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
